@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter Variable", system-ui, sans-serif;

  --color-x-canvas: var(--color-neutral-50);
  --color-x-surface: var(--color-white);
  --color-x-text: var(--color-neutral-950);

  --spacing-x-surface: --spacing(3);

  --border-color-x-surface: color-mix(
    in srgb,
    var(--color-x-text) 4%,
    transparent
  );
  --border-color-x-surface-separator: color-mix(
    in srgb,
    var(--color-x-text) 6%,
    transparent
  );

  --text-x-heading: 0.6875rem;
  --text-x-heading--font-weight: 500;
  --text-x-heading--line-height: 1rem;
  --text-x-heading--letter-spacing: 0.0125em;
  --text-x-body: 0.6875rem;
  --text-x-body--line-height: 1rem;
  --text-x-body--letter-spacing: 0.0125em;

  --radius-x-surface: 0.625rem;
  --radius-x-control: 0.625rem;

  --shadow-x-surface: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

@layer base {
  :where(h1, h2, h3, h4, h5, h6, p, li, span, a, label, button) {
    text-box: trim-both cap alphabetic;
  }
}
